  <!DOCTYPE html>
  <html lang="en">
  <head>
  <title>Secretaría de Finanzas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
  </head>
  <body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <img alt="Logo-CDMX" src="assets/img/header.png">
      </div>
  </div>
  </nav>

  <!--menú-->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Inicio</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cajero <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Predial</a></li>
            <li><a href="sirep.html">SIREP</a></li>
            <li><a href="#">Módulo AT</a></li>
          </ul>
        </li>
        <li><a href="#">Funciones de Cobro</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  <!--/menú-->

  <div class="container">
  <div class="jumbotron">
    <br><h4>A ingresado con el usuario</h4>
    <h1>OPERADOR MÓDULO</h1><br>
    <h4>Por favor seleccione en el menú superior la opción de su preferencia.</h4>
  </div>
  </div>










  </body>
  </html>